.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  color: rgb(224, 237, 240);
}

.fighter-preview___root img {
  height: 360px;
}

.fighter-preview___info {
  text-shadow: 5px 5px 8px #329c32;
}

.fighter-preview___info p {
  font-size: 23px;
}


.fighter-preview___right {
  align-items: flex-end;
}

.mirror {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}
